html {
	scroll-behavior: smooth;
}

.slider {
	position: relative;
}

.slider .owl-item.active.center .slider-card {
	transform: scale(1);
	opacity: 1;
}

.slider .owl-item.active.center .slider-card :hover {
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
}

.owl-prev :hover {
	opacity: 0.8
}

.owl-next :hover {
	opacity: 0.8
}


.slider-card {
	transform: scale(0.9);
	opacity: 0.1;
	transition: all 0.3s;
	border-radius: 15px;
}

.slider-card img {
	border-radius: 15px;
}

.owl-nav .owl-next {
	position: absolute;
	top: calc(33%);
	right: calc(25%);
	opacity: 0.6;
	z-index: 1;
}

.owl-nav .owl-prev {
	position: absolute;
	top: calc(33%);
	left: calc(25%);
	opacity: 0.6;
	z-index: 1;
}


.font-markazi-text {
	font-size: var(--font-size-77xl);
	font-weight: 600;
	font-family: var(--font-markazi-text);
	/*position: absolute;
	/*top: 150px;
	  left: calc(50% - 240px); */
	/* display: block;
	margin-left: 31%;
	margin-top: 2%;
	
	 */
	/* display: inline-block; */
	/* width: 484px;
	height: 131px;
	font-size: 70px;*/
}

/* .monitoringFont {
	  position: relative;
	  background-color: var(--color-white);
	  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	  width: 100%;
	  height: 1080px;
	  overflow: hidden;
	  text-align: left;
	  font-size: var(--font-size-17xl);
	  color: var(--color-black);
	  font-family: var(--font-ubuntu);
	} */

/* ManajemenSurat */

.suratCard {
	position: fixed;
	top: 30px;
	left: calc(50% - 256px);
	width: 500px;
	height: 500px;
	text-align: center;
}

.suratBox {
	position: absolute;
	top: 0;
	left: 95%;
	border-radius: var(--br-18xl);
	background: linear-gradient(180deg, #a1e7f6, rgba(208, 255, 247, 0) 40.1%);
	width: 400px;
	height: 400px;
	text-align: center;
}

.suratFont {
	position: absolute;
	top: 67px;
	left: 25px;
	display: inline-block;
	/* width: 239px;
	  height: 53px; */
	font-size: var(--font-size-17xl);
	color: var(--color-black);
	font-family: var(--font-ubuntu);
	text-align: center;
}

.suratIcon {
	position: absolute;
	top: 104px;
	left: 100px;
	width: 250px;
	height: 250px;
	object-fit: cover;
	text-align: center;
}

/* ManajemenRapat */

.rapatCard {
	position: fixed;
	top: 500px;
	left: 704px;
	width: 500px;
	height: 500px;
}

.rapatBox {
	position: relative;
	bottom: 0;
	right: 0;
	border-radius: var(--br-18xl);
	background: linear-gradient(180deg, #a1e7f6, rgba(208, 255, 247, 0) 40.1%);
	width: 400px;
	height: 400px;
}

.rapatFont {
	position: absolute;
	top: 51px;
	left: 25px;
	display: inline-block;
	/* width: 239px;
	  height: 53px; */
	font-size: var(--font-size-17xl);
	color: var(--color-black);
	font-family: var(--font-ubuntu);
}

.rapatIcon {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

/* ManajemenFile */
.fileCard {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 400px;
	height: 400px;
}

.fileBox {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--br-18xl);
	background: linear-gradient(180deg, #a1e7f6, rgba(208, 255, 247, 0) 40.1%);
	width: 400px;
	height: 400px;
}

.fileFont {
	position: absolute;
	top: 51px;
	left: 40px;
	display: inline-block;
	/* width: 239px;
	  height: 53px; */
	font-size: var(--font-size-17xl);
	color: var(--color-black);
	font-family: var(--font-ubuntu);
}

.fileIcon {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 250px;
	height: 250px;
	object-fit: cover;
	text-align: center;
}

/* Monitoring */
.monitoringCard {
	position: fixed;
	top: 451px;
	left: 100px;
	width: 400px;
	height: 400px;
}

.monitoringBox {
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: var(--br-18xl);
	background: linear-gradient(180deg, #a1e7f6, rgba(208, 255, 247, 0) 40.1%);
	width: 400px;
	height: 400px;
}

.monitoringIcon {
	position: absolute;
	top: 97px;
	left: 63px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.monitoringFont {
	position: absolute;
	top: 51px;
	left: 67px;
	display: inline-block;
	/* width: 239px;
	  height: 53px; */
	font-size: var(--font-size-17xl);
	color: var(--color-black);
	font-family: var(--font-ubuntu);
}

/* OWL CSS */